
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am definitely a guy for the whole story. This means my education and practical experiences cover the process from data acquisition over data processing to final analysis results and visualizations with state of the art geoinformatic technologies.<br>
					After rewarded my diploma as Diplom-Ingenieur (FH) Surveying and Geoinformatics (&#8709;2.1), I made high interdisciplinary working experiences as Surveying Engineer/Project Supervisor dealing with divers surveying, calculation and GIS tasks. Detailed information you get here:<a href="#experience"><font color="white">&raquo;Experiences.&laquo;</font></a> Still far, far away from the start of my 30's ;-), I decided to broaden my horizon and deepen my geoinformatic knowledge with a master study program geoinformatics @ IFGI Münster that I am going to finish 2015. 
					</p>
                </div>
                <div class="col-lg-4">
                    <p>Besides the interest of geo-technologies that help the user to gain meaningful, helpful data, I like environmental modelling, creating Web GIS applications, using semantic technologies, open data and open source software in order to solve real-world <i class='fa fa-globe'></i> problems. Further <a href="#skills"><font color="white">&raquo;Skills&Interests&laquo;</font></a>.<br>
						<br>
						In my leisure time I like outdoor activities like hiking, bouldering and I am a passionate mountainbiker. 
				
                </div>
            </div>
        </div>
    </section>

 <!--
 <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class='fa fa-road'></i>Experience</h2>
                   <b> <hr> </b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://lodum.de/life/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;LIFE Projekt&laquo;</font></a><br><p>
					<a href="www.ifgi.de"><font color="white">&raquo;Institute for Geoinformatics-&laquo;</font></a><br><a href="http://www.uni-muenster.de/de/"><font color="white">&raquo;WWU Münster&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 03/14-<b>present</b>
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Research Assistant<br> 	
						<li style="margin-left:50px;">Supervise the <a href="https://github.com/lodum/CancerExplorer"><font color="white">&raquo;CancerExplorer&laquo;</font></a>Project</li>
						<li style="margin-left:50px;">Diverse contributions within <a href="www.lodum.de"><font color="white">&raquo;LODUM&laquo;</font></a>Group</li>
					<br>
					<br>
					<br>
					</p>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="https://ifgi.uni-muenster.de/ifgilogin/csa/index.php?action=1&id=215"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Reference System Course&laquo;</font></a><br><p>
					<a href="www.ifgi.de"><font color="white">&raquo;Institute for Geoinformatics-&laquo;</font></a><br><a href="http://www.uni-muenster.de/de/"><font color="white">&raquo;WWU Münster&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 03/14 - 08/14
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Tutor<br> 
					
						<li style="margin-left:50px;">Lab lectures and correction of student tasks</li>
						
					
					</p>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://alpha-vermessung.de/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Alpha Vermessung&laquo;</font></a><br><p>
					Engineering office Würzburg<br>
					<i class='fa fa-clock-o'></i>&nbsp 02/10 - 03/13
					<br>
					<br>
					<br>
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Surveying Engineer/Project Supervisor<br> 
					
						<li style="margin-left:50px;">High interdisciplinary workings in    engineering and cadastre field</li>
						<li style="margin-left:50px;">Planning and Coordination of surveying    projects, supervision of apprentices </li>
						<li style="margin-left:50px;">Data acquisition, processing, analysis,    administration and visualizations </li>
						
			
			

					
					</p>
					
                </div>
            </div>
        </div>
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://www.noack-ingenieure.de"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Noack Ingenieure&laquo;</font></a><br><p>
					Engineering Company, Lillesand Norway<br>
					<i class='fa fa-clock-o'></i>&nbsp 02/08 - 05/08
					<br>
					<br>
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>   	Student Apprentice<br> 
					
						<li style="margin-left:50px;">Surveying supervision with data and field (GPS, Totalstation) work of the large-scale motorway project <a href="http://www.vegvesen.no/en/Roads/Financial/Private+Public+Partnership+PPP/Project+E18+Grimstad+Kristiansand"><font color="white">&raquo;PPP project E18 <br> Grimstad - Kristiansand&laquo;</font></a></li>
						
					
					</p>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://alpha-vermessung.de/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Alpha Vermessung&laquo;</font></a><br><p>
					Engineering office Würzburg<br>
					<i class='fa fa-clock-o'></i>&nbsp 10/06 - 01/07
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>      	Student Apprentice<br> 
					
						<li style="margin-left:50px;">Workings in engineering and cadastre surveying</li>
						
					
					</p>
					
                </div>
            </div>
        </div>
	-->		
    </section>