 <!-- About Section 
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Work Experience</p>
					
					
					
					
					
					
					
					<p>Work Experience</p>
					
					<p>Work Experience</p>
					
					<p>Work Experience</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
					p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
-->	

 <section  id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class='fa fa-graduation-cap'></i>&nbsp; Education</h2>
                </div>
            </div>
			<hr>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a target="_blank" href="http://www.ifgi.de"><font color="#2c3e50"><i class='fa fa-university'></i>&raquo;M.Sc. Geoinformatics&laquo;</font></a><br><p>
					<a target="_blank" href="http://www.ifgi.de"><font color="#18bc9c">&raquo;Institute for Geoinformatics-&laquo;</font></a><br><a href="http://www.uni-muenster.de/de/"><font color="#18bc9c">&raquo;WWU Münster&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 04/13-09/15
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>   Master Study Program &#8709;1.4,<br> Research Assistant<br> 
					<li style="margin-left:50px;"><font color="#2c3e50"><b>Master thesis:'A Linked Data-based Web-GIS approach cancer related epidemiological application' &#8709;1.2<br>Supervisors: Prof. Dr. Edzer Pebesma, Prof. Dr. Werner Kuhn</b><br> The thesis examines how linked
spatio-temporal data can help improve cancer cluster investigation approaches. In order to answer this question
the thesis presents a prototypical tool that supports specialists and non-specialists of
semantic information systems to make a first survey of cancer-suspicious regions with
focus on environmental data. The developed prototype application serves as exploration
and information tool for the specific epidemiological use case. The concept and first functional requirements of the prototype were defined in collaboration
with the Institute of Epidemiology and Social Medicine (IES) Münster. The
application development process was conducted in an agile, iterative manner. Feedback
of meetings were integrated directly into the development process. Semi-structured interviews
of participants with epidemiological background and expert interviews with
experienced people in the field of GIS and semantic technologies evaluated qualitatively
the final version of the Linked Data based prototype.
One key result is that the previous unstructured recherche of cause-effect knowledge from
International Agency for Research on Cancer (IARC) monographs is structured, linked with spatial information and can be accessed by
applications. Another key results is that the presented prototype can support spatiotemporal
data exploratory through Linked Data querying and background information
recherche tasks by discovering related links of resources in cancer cluster investigations.<br><br> <a target="_blank" href="https://github.com/FriedrichMueller/Master_Thesis_Abstract/blob/master/Thesis_Abstract.pdf">&raquo;See full thesis abstract&laquo;</font></a></font></li>
					<br>
					<br>
					<br>
					</p>
					<hr>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a target="_blank" href="http://bvg.fhws.de/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Diploma Study Program&laquo;</font></a><br><p>
					<a target="_blank" href="http://bvg.fhws.de/"><font color="#18bc9c">&raquo;Surveying and Geoinformatics&laquo;</font></a><br><a target="_blank" href="http://www.fhws.de/"><font color="#18bc9c">&raquo;FH Würzburg-Schweinfurt&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 10/05 - 03/10
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>&nbsp; Diplom-Ingenieur (FH) Surveying and Geoinformatics &#8709;2.1<br> 
					
						<li style="margin-left:50px;"><b>Diploma thesis: 'Dreidimensionale Darstellungsmöglichkeiten in Earth Browsern' &#8709;1.0 </b><br> The thesis deals with data aquisition techniques (photogrammetry in combination with totalstation), data processing and modelling with open software and works out in a practical part how  high precision models can be achieved. Moreover it reviews the different available earth browsers and involved techniques like bundle block adjustment,KML,COLLADA, GML etc.</li>
						<li style="margin-left:50px;"><a href="https://3dwarehouse.sketchup.com/model.html?id=a0ca478c3222f763d83cf47930403473"><font color="#2c3e50"><b>&raquo;FH Würzburg 3D Modell Example&laquo;</b></font></a></li><br>
					
					</p>
				<hr>	
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a target="_blank" href="http://www.gwsg.net/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Georg-Wilhelm Steller Gymnasium Bad Windsheim&laquo;</font></a><br><p>
					<i class='fa fa-clock-o'></i>&nbsp 09/04
					<br>
					<br>
					<br>
			
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>&nbsp; General qualification for university entrance &#8709;2.1<br> 
					</p>
					<br>
				<hr>	
                </div>
            </div>
        </div>
		
		
    </section>