 <!-- About Section 
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Work Experience</p>
					
					
					
					
					
					
					
					<p>Work Experience</p>
					
					<p>Work Experience</p>
					
					<p>Work Experience</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
					p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
-->	

 <section class="success" id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class='fa fa-road'></i>&nbsp; Experience</h2>
                  <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://lodum.de/life/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;LIFE Projekt&laquo;</font></a><br><p>
					<a href="www.ifgi.de"><font color="white">&raquo;Institute for Geoinformatics-&laquo;</font></a><br><a href="http://www.uni-muenster.de/de/"><font color="white">&raquo;WWU Münster&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 03/14-<b>present</b>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Research Assistant<br> 	
						<li style="margin-left:50px;">Supervise the <a href="https://github.com/lodum/CancerExplorer"><font color="white">&raquo;CancerExplorer&laquo;</font></a>Project</li>
						<li style="margin-left:50px;">Diverse contributions within <a href="www.lodum.de"><font color="white">&raquo;LODUM&laquo;</font></a>Group</li>
					<br>
					<br>
					<br>
					<hr>
					</p>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="https://ifgi.uni-muenster.de/ifgilogin/csa/index.php?action=1&id=215"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Reference System Course&laquo;</font></a><br><p>
					<a href="www.ifgi.de"><font color="white">&raquo;Institute for Geoinformatics-&laquo;</font></a><br><a href="http://www.uni-muenster.de/de/"><font color="white">&raquo;WWU Münster&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 03/14 - 08/14
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Tutor<br> 
					
						<li style="margin-left:50px;">Lab lectures and correction of student tasks</li>
						
					
					</p>
					<br>
					<br>
					<hr>
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://alpha-vermessung.de/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Alpha Vermessung&laquo;</font></a><br><p>
					Engineering company Würzburg<br>
					<i class='fa fa-clock-o'></i>&nbsp 02/10 - 03/13
					<br>
					<br>
					<br>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Surveying Engineer/Project Supervisor<br> 
					
						<li style="margin-left:50px;">High interdisciplinary workings in    engineering and cadastre field</li>
						<li style="margin-left:50px;">Planning and Coordination of surveying    projects, supervision of apprentices </li>
						<li style="margin-left:50px;">Data acquisition, processing, analysis,    administration and visualizations </li>
						<li style="margin-left:50px;">Adaption, development of GIS software and tools </li>
						
			
			

					
					</p>
					<hr>
                </div>
            </div>
        </div>
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://www.noack-ingenieure.de"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Noack Ingenieure&laquo;</font></a><br><p>
					Engineering Company, Lillesand Norway<br>
					<i class='fa fa-clock-o'></i>&nbsp 02/08 - 05/08
					<br>
					<br>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>   	Student Apprentice<br> 
					
						<li style="margin-left:50px;">Surveying supervision with data and field (GPS, Totalstation) work of the large-scale motorway project <a href="http://www.vegvesen.no/en/Roads/Financial/Private+Public+Partnership+PPP/Project+E18+Grimstad+Kristiansand"><font color="white">&raquo;PPP project E18 <br> Grimstad - Kristiansand&laquo;</font></a></li>
						
					
					</p>
					<hr>
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://alpha-vermessung.de/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Alpha Vermessung&laquo;</font></a><br><p>
					Engineering company Würzburg<br>
					<i class='fa fa-clock-o'></i>&nbsp 10/06 - 01/07
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>      	Student Apprentice<br> 
					
						<li style="margin-left:50px;">Workings in engineering and cadastre surveying</li>
						
					
					</p>
					</br>
					<hr>
                </div>
				
		
                </div>
				</br>
				</br>
				<div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class='fa fa-gear'></i>&nbsp; Miscellaneous</h2>
                  <hr>
                </div>
            </div>			
				<div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://www.fossgis.de/konferenz/2015/programm/speakers/449.en.html"><font color="#2c3e50"><i class='fa fa-users'></i>&raquo;FOSSGIS 2015&laquo;</font></a><br><p>
					Conference for free and open source software for geoinformation systems<br>
					<i class='fa fa-clock-o'></i>&nbsp 03/15 
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-plus-circle'></i>      	Contribution/presentation<br> 
					
						<li style="margin-left:50px;"><font color="#2c3e50"><i class='fa fa-download'></i></font><a href="http://www.lodum.de/wp-content/uploads/sites/2/2015/02/fossgis_2015_Linked_Data_basierter_Explorer_Mueller.pdf"><font color="#2c3e50">&nbsp;Linked_Data_basierter_Explorer_Mueller.pdf (only in german available)</font></a></li>
						
					
					
					
					</p>
					
					</br>
					<hr>		
				
            </div>
        </div>
		
    </section>