    <!-- Header -->
    <header  style="margin-top: 105px;" >
			<div class="intro-text" >
			<span class="name">Friedrich Müller</span>
			</div>
			
	<div id="narration">
    <div id="contents">
      <div id="space-at-the-top" class="space-at-the-top"></div>
    </div>
  </div>
  
            <div  id="map" style="height:400px; border:3px solid black"></div>
			<!--<div   style="background-image:url(img/Titel.png); width:100% auto; height:400px; border:3px solid black;"> -->
               <div class="col-lg-13" >  
				
                   <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                    <div class="intro-text" >
                        <span class="skills"><font color="#2c3e50"><b>Geoinformation Scientist*Engineer of Surveying and Geoinformatics*Geospecialist</b></font></span>
						<hr class="world-light">
						<br>
					</div>
                </div>
            
       
    </header>
	
