
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><font color="#2c3e50">Skills</font><br>
					& <font color="#2c3e50">Interests</font></h2>
					<hr>
                </div>
				
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
<font color="#2c3e50"><i class='fa fa-crosshairs'></i>&nbspSkills</font> <br>
Web Technologies (RESTful,...),<font color="#2c3e50"> Semantic Technologies (SPARQL, Apache Jena,Triplestores...),</font> Javascript,<font color="#2c3e50"> Different Libraries, Frameworks (JQUERY, D3, AngularJS,...),</font> R,<font color="#2c3e50"> LUA&TerraME,</font>PostgreSQL & PostGIS,<font color="#2c3e50"> Geospatial data & Geospatial databases,</font>Linux&Windows Server<br>
<font color="#2c3e50"> Experiences with:</font> Java,<font color="#2c3e50"> C++,</font> Arcobjects<br>
<font color="#2c3e50">Using</font>&Modifying Geo-Software: CAD (e.g. AutoCAD),<font color="#2c3e50"> Adjustment Software (e.g. Caplan),</font> GIS(ArcGIS, Geograf, Quantum,...)<br>
<font color="#2c3e50">Data Collectors :</font> GPS, <font color="#2c3e50">Laser Scanner,</font> Total Stations,<font color="#2c3e50"> Photogrammetry</font>
				
					</p>
                </div>
                <div class="col-lg-4">
                    <p>
					<font color="#2c3e50"><i class='fa fa-heart'></i>&nbspInterests</font><br>
					Open Data, <font color="#2c3e50">WebGIS,</font> Map Visualizations,<font color="#2c3e50"> Data Acquisition Techniques,</font> Semantic Web,<font color="#2c3e50"> Environmental Modelling,</font> Solving Interdisciplinary Problems With Geoinformatics,<font color="#2c3e50"> Standards&Guidelines,</font> Data Privacy
						
				
                </div>
            </div>
        </div>
    </section>

 <!--
 <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class='fa fa-road'></i>Experience</h2>
                   <b> <hr> </b>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://lodum.de/life/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;LIFE Projekt&laquo;</font></a><br><p>
					<a href="www.ifgi.de"><font color="white">&raquo;Institute for Geoinformatics-&laquo;</font></a><br><a href="http://www.uni-muenster.de/de/"><font color="white">&raquo;WWU Münster&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 03/14-<b>present</b>
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Research Assistant<br> 	
						<li style="margin-left:50px;">Supervise the <a href="https://github.com/lodum/CancerExplorer"><font color="white">&raquo;CancerExplorer&laquo;</font></a>Project</li>
						<li style="margin-left:50px;">Diverse contributions within <a href="www.lodum.de"><font color="white">&raquo;LODUM&laquo;</font></a>Group</li>
					<br>
					<br>
					<br>
					</p>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="https://ifgi.uni-muenster.de/ifgilogin/csa/index.php?action=1&id=215"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Reference System Course&laquo;</font></a><br><p>
					<a href="www.ifgi.de"><font color="white">&raquo;Institute for Geoinformatics-&laquo;</font></a><br><a href="http://www.uni-muenster.de/de/"><font color="white">&raquo;WWU Münster&laquo;</font></a><br>
					<i class='fa fa-clock-o'></i>&nbsp 03/14 - 08/14
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Tutor<br> 
					
						<li style="margin-left:50px;">Lab lectures and correction of student tasks</li>
						
					
					</p>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://alpha-vermessung.de/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Alpha Vermessung&laquo;</font></a><br><p>
					Engineering office Würzburg<br>
					<i class='fa fa-clock-o'></i>&nbsp 02/10 - 03/13
					<br>
					<br>
					<br>
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>    Surveying Engineer/Project Supervisor<br> 
					
						<li style="margin-left:50px;">High interdisciplinary workings in    engineering and cadastre field</li>
						<li style="margin-left:50px;">Planning and Coordination of surveying    projects, supervision of apprentices </li>
						<li style="margin-left:50px;">Data acquisition, processing, analysis,    administration and visualizations </li>
						
			
			

					
					</p>
					
                </div>
            </div>
        </div>
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://www.noack-ingenieure.de"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Noack Ingenieure&laquo;</font></a><br><p>
					Engineering Company, Lillesand Norway<br>
					<i class='fa fa-clock-o'></i>&nbsp 02/08 - 05/08
					<br>
					<br>
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>   	Student Apprentice<br> 
					
						<li style="margin-left:50px;">Surveying supervision with data and field (GPS, Totalstation) work of the large-scale motorway project <a href="http://www.vegvesen.no/en/Roads/Financial/Private+Public+Partnership+PPP/Project+E18+Grimstad+Kristiansand"><font color="white">&raquo;PPP project E18 <br> Grimstad - Kristiansand&laquo;</font></a></li>
						
					
					</p>
					
                </div>
            </div>
        </div>
		
		 <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="http://alpha-vermessung.de/"><font color="#2c3e50"><i class='fa fa-bank'></i>&raquo;Alpha Vermessung&laquo;</font></a><br><p>
					Engineering office Würzburg<br>
					<i class='fa fa-clock-o'></i>&nbsp 10/06 - 01/07
					<hr>
                </div>
				

                <div class="col-lg-4">
                    <p><i class='fa fa-user'></i>      	Student Apprentice<br> 
					
						<li style="margin-left:50px;">Workings in engineering and cadastre surveying</li>
						
					
					</p>
					
                </div>
            </div>
        </div>
	-->		
    </section>